<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>Show Event</title>
</head>
<body class="events">
    <%- include('../partials/navbar.ejs') %>
    <h1>All Your Events</h1>
    <h2><%= oneEvent.title %></h2>
    <p>Description: <%= oneEvent.content %></p>
    <p>Date: <%= oneEvent.date %></p>
    <p>Photographer: <%= oneEvent.photographer %></p>
    <p>Officiator: <%= oneEvent.officiator %></p>
    <p>Venue: <%= oneEvent.venue %></p>
    <p>Caterer: <%= oneEvent.caterer %></p>
    <p>Baker: <%= oneEvent.baker %></p>
    <p>Musician: <%= oneEvent.musician %></p>

    <a href="/events/<%= oneEvent._id %>/edit">Edit this Event</a>
    <form action="/events/<%= oneEvent._id %>?_method=DELETE" method="post">
        <input type="submit" value="Delete Event"/>
    </form>

</body>
</html>