<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/css/datepicker-bs4.min.css">
    <script defer src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/js/datepicker-full.min.js"></script>
    <script defer src="/js/datePicker.js"></script>
    <link rel="stylesheet" href="/main.css">
    <title>Edit Event</title>
</head>
<body class="events">
    <%- include('../partials/navbar.ejs') %>

    <h1>Edit page for "<%= oneEvent.title %>"</h1>
    <p><%= oneEvent.content %></p>
    <br>
    <form method="POST" action="/events/<%= oneEvent._id%>?_method=PUT">
        <!-- ?_method=PUT" is a common work around to put the PUT method into the action -->
        <label for="title">Edit Event:</label>
        <input name="title" type="text" placeholder="<%= oneEvent.title %>">
        <br>
        <label for="title">Edit Event Description:</label>
        <input name="content" type="text" placeholder="<%= oneEvent.content %>">
        <br>
        <label for="date">Edit Date:</label>
        <input type="text" name="date" placeholder="<%= oneEvent.date %>">
        <br>
        <input type="submit">
    </form>
    <p>
    <form action="/events/<%= oneEvent %>?_method=DELETE">
        <p>
            <input type="submit" value="Delete this event">
        </p>
    </form>
    </p>


</body>
</html>