<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/main.css">
    <title>Edit Vendor</title>
</head>
<body class="services">
    <%- include('../partials/navbar.ejs') %>

    <h1>Edit page for "<%= oneVendor.title %>"</h1>
    <p><%= oneVendor.content %></p>
    <br>
    <form method="POST" action="/vendors/<%= oneVendor._id%>?_method=PUT">
        <input type="text" name="title" placeholder="<%= oneVendor.title %>">
        <br>
        <input type="text" name="content" placeholder="<%= oneVendor.title %>">
        <br>
        <select class="form-select" aria-label="Default select example" name="type">
            <!-- Displays current vendor type -->
            <option selected>
                <%= oneVendor.type %>
            </option>
            <!-- Begin JS: creates options for vendor type that are not the current selection -->
            <% let optArray = ['photographer', 'officiator', 'venue', 'caterer', 'baker', 'musician']; %>
            <% for(let i=0; i < optArray.length; i++) {  %>
                <%     if (optArray[i] != oneVendor.type) {  %>
                    <option value="<%= optArray[i] %>"><%= optArray[i] %></option>
                    <%     i++;  %>
                    <% };};  %>
            <!-- End JS -->
        </select>
        </form>
    <p>
    <form action="/vendors/<%= oneVendor %>?_method=DELETE">
        <p>
            <input type="submit" value="Delete this vendor">
        </p>
    </form>
    </p>
</body>
</html>